In [17]:
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [18]:
df_train = pd.read_csv('titanic_train.csv')
df_test = pd.read_csv('titanic_test.csv')
df_train.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [19]:
train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId','Survived'],axis=1)
df_test = df_test.drop(['PassengerId'],axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
num_features = []
for dtype, feature in zip(df.dtypes,df.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
    
print(f'{len(num_features)} Numeric Features : {num_features} \n')

5 Numeric Features : ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [25]:
df = df[num_features]
train_num = train_Y.shape[0]
print(train_Y.shape)
df[:train_num]

(891,)

     Pclass   Age  SibSp  Parch     Fare
0         3  22.0      1      0   7.2500
1         1  38.0      1      0  71.2833
2         3  26.0      0      0   7.9250
3         1  35.0      1      0  53.1000
4         3  35.0      0      0   8.0500
..      ...   ...    ...    ...      ...
886       2  27.0      0      0  13.0000
887       1  19.0      0      0  30.0000
888       3   NaN      1      2  23.4500
889       1  26.0      0      0  30.0000
890       3  32.0      0      0   7.7500

[891 rows x 5 columns]

In [27]:
df_m1 = df.fillna(-1)
train_X = df_m1[:train_num]
estimator = LogisticRegression()
cross_val_score(estimator,train_X,train_Y,cv=5).mean()

0.6981796497395015

In [29]:
df_0 = df.fillna(0)
train_X = df_0[:train_num]
estimator = LogisticRegression()
cross_val_score(estimator,train_X,train_Y,cv=5).mean()

0.6992969681752557

In [31]:
df_mean = df.fillna(df.mean())
train_X = df_mean[:train_num]
estimator = LogisticRegression()
cross_val_score(estimator,train_X,train_Y,cv=5).mean()

0.6947900320130562

In [33]:
df_mean = df.fillna(df.median())
train_X = df_mean[:train_num]
estimator = LogisticRegression()
cross_val_score(estimator,train_X,train_Y,cv=5).mean()

0.6947837549431924

In [37]:
df1 = df.fillna(-1)
df_temp = MinMaxScaler().fit_transform(df1)
train_X = df_temp[:train_num]
estimator = LogisticRegression()
cross_val_score(estimator,train_X,train_Y,cv=5).mean()

0.6970560542338836

In [41]:
df_0 = df.fillna(0)
df_temp = StandardScaler().fit_transform(df_0)
train_X = df_temp[:train_num]
estimator = LogisticRegression()
cross_val_score(estimator,train_X,train_Y,cv=5).mean()

0.6981733726696377

In [39]:
print('標準化好')

標準化好